<h1>Post #<%=@post.id %></h1>

<div class="card">
  <div class="card-body">
    <p class="card-title"><strong>Poster:</strong> <%= show_user(@post) %></p>
    <p class="card-text"><strong>Post:</strong><%= @post.post %></p>
  </div>
</div>
<hr>
<%= link_to 'Edit', edit_post_path(@post), class: "link-primary"  %> |
<%= link_to 'Back', posts_path, class: "link-secondary" %>
